.client-scope-grant-page {
    max-width: 700px;
}

.client-scope-grant-wrap {
    h2 {
        background: #efefef;
        padding: 10px;
        font-size: 18px;
        font-weight: 700;
        margin-top: 40px;
    }



    dd {
        color: #666;
    }


    input[type=submit] {
        height: 40px;
        line-height: 40px;
        padding: 0 30px;
        min-width: 132px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        border-radius: 50em;
        display: inline-block;
        font-size: 1.16667em;
        font-weight: 600;
        position: relative;
        text-align: center;
        text-transform: uppercase;
        -moz-transition: all 0.15s ease;
        cursor:pointer;

        -webkit-transition: color 0.25s, background-color 0.25s, text-shadow 0.25, box-shadow 0.25;
        transition: color 0.25s, background-color 0.25s, text-shadow 0.25, box-shadow 0.25;
        background-image: linear,false,rgba(255,255,255,0.2),rgba(255,255,255,0);

        background-color: #e1323d;
        color: #fff;
        border:1px solid #a30a11;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), inset 0 0 0 1px rgba(255,255,255,0.15);
        text-shadow: 0 1px 1px rgba(0,0,0,0.3);
        margin-bottom: 20px;
        margin-top: 20px;
    }

    input[name=rejected] {
        background: #E1A6AA;
        border-color: #A3696B;
    }
}

.dark-layout .client-scope-grant-wrap {
    h2 {
        background: #444;
    }
}
